
<p-sidebar [showCloseIcon]="false" ngModel #sidenav [(visible)]="display" [transitionOptions]="'100ms'" (onShow)="print()">
  <i class="pi pi-home" style="font-size: 2rem; margin-right: 1rem;"></i>
  <a *ngIf="display">Homepage</a>
  <p>{{sidenav.visible}}</p>

</p-sidebar>

<p-button type="text" (click)="getDOMPropertyValue()" icon="pi pi-arrow-right"></p-button>

<div style="display: flex;">
  <div *ngIf="display" style="background-color: yellow;" [style.width.px]="width">
    <h1>Hidden</h1></div>
  
  <div style="background-color: rgb(165, 20, 20);">
  
    <h1>Displayed</h1>
    
    <h1>Displayed</h1>
    <h1>Displayed</h1>
    <h1>Displayed</h1>
    <h1>Displayed</h1>
    <h1>Displayed</h1>
  
  </div>
</div>